<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style-orden.css">
    </head>
   <body>
         <header>
            <nav>
                 <ul>
                    <li>
                       <a class="letra" href="/orden/crear">Crear orden</a>
                    </li>
                    <li>
                       <a class="letra" href="/orden">Ver orden</a>
                    </li>
                 </ul>
            </nav>
         </header>
         <h1>Detalle de Usuario</h1>
         <ul>
            <li>
               Nombre de usuario: <%=user.length%>  <%=user.userName%>
            </li>
            <li>
                Email: <%=user.email%>
            </li>
            <li>
                Contraseña: <%=user.passwordUser%>
            </li>
            <li>
                Fecha de Creacion: <%=user.created_at%>
             </li>
            <li>
                Numero de orden:<%=user.id%>
            </li>
        </ul>
            <a href="/users/editar/<%=user.id%>">
            <button>Editar</button>
            </a>
            <footer>
        </footer>
    </body>
</html>