<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style-orden.css">
    </head>
   <body>
         <header>
            <nav>
                 <ul>
                    <li>
                       <a class="letra" href="/orden/crear">Crear orden</a>
                    </li>
                    <li>
                       <a class="letra" href="/orden">Ver orden</a>
                    </li>
                 </ul>
            </nav>
         </header>
            <h1>Editar turno</h1>
            <form action="/orden/editar/<%=order.id%>" method="POST">
                <div>
                    <label for="">Codigo</label>
                    <input type="text" name="codigo" value="<%=order.codeOrderly%>">
                </div>
                <div>
                    <label for="">Caja</label>
                    <input type="text" name="caja" value="<%=order.box%>">
                </div>
                <div>
                    <label for="">Fecha de Creacion</label>
                    <input type="date" name ="creacion" value="<%=order.created_at%>">
                </div>
                <div>
                    <label for="">Tipo de Operacion</label>
                    <select name="operacion">
                        <% for (let i =0; i < operation_type.length; i++) { %>
                            <% if (operation_type[i].id == order.idOperation_type) { %>
                                <option value="<%=operation_type[i].id%>" selected>
                                    <%=operation_type[i].nameOperation%>
                                </option>
                            <% } else { %>
                                <option value="<%=operation_type[i].id%>">
                                    <%=operation_type[i].nameOperation%>
                                </option>                 
                            <% } %>
                        <% } %>
                    </select>
                <div>
                    <label for="">Numero de Usuario</label>
                    <input type="text" name="usuario" value="<%=order.idUser%>">
                </div>
                </div>
                <button type="submit">Editar</button>
            </form>
            <footer>
        </footer>
    </body>
</html>